:root {
  --accent-1: coral;
	--accent-2: brown;
	--highlight-color: yellow;
	--accent-bkgrnd: brown;
	--border-color: black;
}
body {
	font-family: 'Raleway', sans-serif;
	margin:0;
	border: 0;
	padding:.05%;
	/*overflow: hidden;*/
}
div{
	display:inline-block;
	margin:auto;
	padding:0;
	border:0;
}
h2 {
  font-style: bold;
}

.card{
	width:150px;
	padding:1px;
}
.submission{
	width:200px;
	padding:20px;
}

#thevideoplaceholder{
	position: absolute;
	width:50%;
	height:100%;
	background-color: grey;
	text-align: center;
	float:left;
	border: -10px dashed white;
}
#thevideoplaceholder p{
	margin-top:40%;
	}
#theweirddashedbordermaker{
	position: relative;
	width:90%;
	height: 90%;
	margin:auto;
	top:5%;
	border: 3px dashed white;
	border-radius: 10px;
}
#makewayforthevideo{
	width:49%;
	text-align: center;
	float:right;
}
#modal{
	display: none;
	position: absolute;
	width: 50%;
	height: 60%;
	right: 25%;
	top:20%;
	background-color: var(--accent-2);
	border: 1px solid black;
	z-index: 2;
	border-radius: 10px;
	text-align: center;
}

#nKname_setter{
	position:fixed;
	display:block;
	width:25%;
	height: 30%;
	top: 30%;
	left:37.5%;
	background-color: var(--accent-1);
	border: 1px solid var(--border-color);
	z-index:1;
	text-align: center;
	border-radius: 10px;
}
#nKname_form{
	position: relative;
	height: 60%;
	top:15%;
	margin:auto;
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	font-size: 14pt;

}
input{
	width:69%;
	padding:20px;
	margin:5px;
	box-sizing: border-box;
	transition: width 0.4s ease-in-out;
	border-radius: 10px;
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	font-size: 14pt;
}
input:hover{
	background-color: var(--accent-2);
	border: 2px solid var(--highlight-color);
	width:75%;
	font-size: 16pt;


}
button{
	width:100px;
	padding:10px;
	margin:5px;
	box-sizing: border-box;
	border: 1px solid blue;
	border-radius: 5px;
	font-family: 'Raleway', sans-serif;
	font-style: bold;
	font-size: 14pt;
}

#standings{
	background-color: var(--accent-2);
	position: relative;
	width: 25%;
	height: auto;
	float:right;
	padding: 0;
	text-align: left;
	border-bottom: 2px solid black;
	border-right: 2px inset black;
	border-radius: 2px;
}
#standings ul{
	list-style-type: none;
	font-style: normal;
	background:  var(--accent-2);

}
#standingstitle{
	font-size: 12pt;
}
#title{
	text-align: center;
	padding-top: 1%;
}
#captionboard{
	position: relative;
	display: block;
	background-color: var(--accent-1);
	padding: 10px;
	text-align: center;
	font-style: normal;
}
#prompt{
	display: inline;
	font-style: normal;
	font-size: 16pt;
}
#hub{
	display: block;
	position: relative;
	height: 5%;
	background-color: brown;
	margin:0;
	border-left:-10px solid black;
	padding: 0px
}
#status{
	display: inline-block;
	position: relative;
	left:0;
	list-style-type: none;
}
#submitcard{
	display: inline-block;
	position: relative;
	right:0px;
}
.selectedcard{
  border: 2px dashed blue;
}
